/*geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto";
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

*::selection {
    background-color: red;
    color: aliceblue;
}

body {
    flex-wrap: wrap;
}

/*fontes*/
span {
    color: red;
    font-weight: lighter;
}

a {
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

/*header menu*/
header {
    background: rgb(26, 26, 26);
    margin: 0;
    border-bottom: 1px solid rgb(53, 53, 53);
    z-index: 5;
}

#header-block {
    position: fixed;
    width: 100%;
}

#header-nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

#div-logo {
    display: flex;
    align-items: center;
}

#logo-header {
    width: 25px;
}

#name-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}

#nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;

}

.itens-nav {
    padding: 1.1rem 10px;
    text-transform: uppercase;
}

.itens-nav:hover {
    transition: all 400ms ease-in-out;
    background: rgba(255, 255, 255, 0.3)
}

/*section home*/
.s-home {
    background-color: #000;
    min-height: 800px;
    padding: auto;
    display: grid;
    align-items: center;
    min-height: 100vh;
}

#div-home {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: auto;

}

.animation-text {
    font-size: 2.5rem;
}

.animation-text h1::first-letter {
    font-size: 160%;
    color: rgb(204, 18, 18);
    font-weight: lighter;
  }

.animation-text span {
    position: relative;
}

.animation-text span::before {
    content: '';
    color: rgb(204, 18, 18);
    animation: words 20s infinite;
}

.animation-text span::after {
    content: '';
    background-color: #000000;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid rgb(204, 18, 18);
    right: -8px;
    animation: cursor, 6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #000000;
    }
}

@keyframes words {

    0%,
    20% {
        content: 'programador';
    }

    21%,
    40% {
        content: 'desenvolvedor';
    }

    41%,
    60% {
        content: 'dedicado';
    }

    61%,
    80% {
        content: 'versátil';
    }

    81%,
    100% {
        content: 'organizado';
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}


#div-text-home {
    margin-bottom: 6rem;
}

#text-home {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    max-width: 800px;
    padding: 2rem 3rem;
    margin-top: 4rem;
}


#subtext-home {
    margin-bottom: 3rem;
    font-size: 1.3rem;
    max-width: 700px;
    line-height: 1.4rem;
    padding: 0rem 3rem;
}

.clickCurriculo {
    display: block;
    border: none;
    outline: none;
    width: 150px;
    height: 50px;
    background: rgb(204, 18, 18);
    border-radius: 5px;
    margin-left: 3rem;
    font-size: 1.4rem;
    font-weight: lighter;
    padding: 10px;
}

.clickCurriculo:hover {
    cursor: pointer;
    background: red;
    box-shadow: 0 0 5px red, 0 0 20px red, 0 0 60px red, 0 0 500px red;
    font-weight: normal;
}

#logo-home {
    width: 300px;
}

/*section about*/
#s-about {
    background-color: rgb(26, 26, 26);
    min-height: 800px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#div-about {
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: auto;
}

#div-img-about {
    margin: 25px;
    display: flex;
    min-width: 120px;
    justify-content: center;
}

#img-about {
    width: 350px;
    max-width: 85%;
    align-self: center;
}

#div-text-about {
    border: 2px solid rgb(53, 53, 53);
    max-width: 700px;
    min-width: 300px;
    background: rgb(26, 26, 26);
    border-radius: 10px;
    margin: 30px
}

#title-about {
    color: aliceblue;
    padding: 1rem 0 1rem 1rem;
    font-size: 1.8rem;
}

#text-about {
    word-break: break-word;
    padding: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
    text-align: justify;
}

#container-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

.icones-skill {
    width: 45px;
    margin: 0 30px;
    margin-top: 25px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: rotateY(180deg);
    opacity: 0.1;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .text-overlay {
    opacity: 1;
}

.text-overlay p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}


#s-curriculo {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 80vh;
    background-color: #000;
    padding-top: 50px;
}

#div-curriculo {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#div-curriculo h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem;
}

#div-curriculo span {
    font-weight: 600;
    text-transform: uppercase;
}


#projetos {
    display: flex;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    height: 100%;
}

.item-grid {
    background-color: aliceblue;
}

.container {
    position: relative;
    overflow: hidden;
    display: grid;
}

.container:before {
    content: "";
    background-image: url('../img/outberry.jpeg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
    transition: filter 0.3s;
}

.container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
    pointer-events: none;
}

.container:hover:before {
    filter: none;
    -webkit-filter: grayscale(100%);
}

.container:hover:after {
    background-color: transparent;
}


.container2 {
    position: relative;
    overflow: hidden;
    display: grid;
}

.container2:before {
    content: "";
    background-image: url('../img/webterror.jpeg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
    transition: filter 0.3s;
}

.container2:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
    pointer-events: none;
}

.container2:hover:before {
    filter: none;
    -webkit-filter: grayscale(100%);
}

.container2:hover:after {
    background-color: transparent;
}


.absolut {
    color: aliceblue;
    position: relative;
    z-index: 2;
    padding: 20px;
}

.absolut h2 {
    color: red;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.absolut p {
    font-size: 1.3rem;
    text-align: justify;
    -webkit-text-stroke: 1px rgb(121, 121, 121);
    text-stroke: 1px black;
    font-weight: bold;

}

.repositorio {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.repositorio a:hover {

    border-radius: 3px;
    color: red;
    transition: all 300ms ease-in-out;
    font-weight: bold;
    font-size: 115%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.repositorio a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: red;
    transition: width 0.3s ease-in-out;
    z-index: -1;
}

.repositorio a:hover::before {
    width: 100%;
    left: 0;
    transform: translateX(0);
    transition: width 0.3s ease-in-out, transform 0.3s ease;
}

#rodape {
    width: 100%;
    height: 40vh;
    background: rgb(26, 26, 26);
    border-top: 1px solid rgb(53, 53, 53);
    display: flex;
    justify-content: center;
}

.container-rodape {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contatos {
    color: aliceblue;
    padding: 2rem;

}

.contatos h1 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.container-contatos {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5rem;
}

.img-contato {
    border-radius: 50%;
    border: 2px solid rgb(53, 53, 53);
    width: 90px;
}

.direction {
    display: flex;
    color: aliceblue;
    margin: 15px;
    gap: 10px;
}

.icon-rodape {
    width: 25px;
}

.rep-git {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    gap: 1rem;
}


.icon-git:hover {
    width: 60px;
}


.git-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: auto;
}

.image-wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease-in-out;
}

.image-small {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.image-large {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.git-container:hover .image-wrapper {
    transform: rotate(360deg);
}

.git-container:hover .image-small {
    transform: scale(0);
}

.git-container:hover .image-large {
    transform: scale(1);
}

.close-menu {
    display: none;
}

@media (max-width: 800px) {
    header {
        background: rgba(26, 26, 26, 0.95);
        margin: 0;
        border-bottom: 1px solid rgb(53, 53, 53);
        z-index: 3;
        padding: 1rem;
    }

    #header-nav {
        flex-direction: column;
    }

    .pag-inicial {
        display: none;
    }

    #nav-menu {
        margin-top: 2rem;
        flex-direction: column;
    }

    #header-block {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        color: red;
        position: fixed;
        z-index: 4;
        top: 0.8rem;
        right: 1rem;
        font-size: 3rem;
        background: rgba(26, 26, 26, 0.4);
        line-height: 3rem;
        padding: 0.5;
        cursor: pointer;
    }

    .close-menu:checked~#header-block {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '✕';
    }

    #header-block {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #div-home {
        padding: 0;
    }

    #logo-home {
        display: none;
    }

    #div-img-about {
        display: none;
    }


    #div-text-about {
        min-width: 100%;
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #container-skill {
        margin-bottom: 3rem;
    }

    .container-icons {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 3rem;
    }

    .icones-skill {
        margin: 0 1rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 10px;
        height: 100%;
    }

    #rodape {
        height: 100%;
    }

    .container-contatos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .container-info {
        margin-bottom: 2rem;
    }

    .back-to-top {
        position: fixed;
        bottom: 2rem;
        right: 1rem;
        color: red;
        font-size: 3rem;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: rotate(90deg);
        z-index: 3;
    }
}